/*@import url(reset.css);*/
/* check for post commit hook - can be removed */


h1, h2, h3, h4, h5, .subtitle {
  font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
}
body {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  background: #eee;
  text-align: center;
}
.all {
  width: 1100px;
  /*width: 1050px;*/
  /*width: 1200px;*/
  /*width: 950px;*/
  height: 100%;
  min-height: 100%;
  margin: 0 auto 20px;
  background: url('http://cl-informatik.uibk.ac.at/images/seal2.gif') no-repeat right bottom #fff;
  text-align: left;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 5px 10px 20px #888;
  -moz-box-shadow: 5px 10px 20px #888;
}
.lang_sel {
  margin: 2px auto 2px auto;
  width: 1040px;
  /*width: 1190px;*/
  /*width: 940px;*/
  height: 15px;
  text-align: right;
  font-size: 8pt;
}
.lang_sel a {
  color: #666;
}
.lang_sel a:hover {
  color: #f29400;
}
.header {
  height: 79px;
  background: #f29400;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.header a:hover {
  text-decoration: none;
}
.subtitle {
  color: #fff;
  float: left;
  width: 742px;
  /*width: 892px;*/
  /*width: 642px;*/
  height: 79px;
  text-align: right;
  font-weight: bold;
  font-size: 12pt;
  line-height: 16pt;
}
.subtitle a {
  color: #fff;
  font-size: 12pt;
  text-decoration: none;
}
.logo {
  float: left;
  margin-left: 10px;
  width: 198px;
  height: 79px;
  background-image: url(cllogo.gif);
  background-image: none, url(cllogo.svgz), url(cllogo.gif);
  background-size: 198px 79px;
}
.logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.main_menu {
  clear: both;
  margin-top: 15px;
  padding: 5px 0 5px 0;
  background: #2b5573; /* griff slide blau, much more eayfriendly */
  /*background: #003362;*/ /* uni-logo blau */
  border-bottom: 5px solid #799bb3;
}
.main_menu a {
  color: #fff;
  padding: 5px 4px 5px 4px;
}
.main_menu a:hover {
  color: #fff;
  text-decoration: none;
  background: #799bb3;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.main_menu .active {
  background: #799bb3;
  color: #fff;
  font-weight: bold;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.bread_crumbs {
  width: 998px;
  padding-top: 15px;
  padding-left: 2px;
  display: none;
}
.sub_menu {
  padding: 0 0 10px 0;
  text-align: right;
  width: 200px;
  margin: 45px 15px 0 0;
  background: #eeeedd;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.sub_menu > a {
  display: block;
  color: #666;
  text-decoration: none;
  padding: 3px 10px 3px 5px;
  border-bottom: 2px solid #eeeedd;
  border-top: 2px solid #eeeedd;
}
.sub_menu > a:hover {
  text-decoration: none;
  background: #f8f8f0;
}
.sub_menu .active {
  border-bottom: 2px solid #eeeedd;
  border-top: 2px solid #eeeedd;
  display: block;
  text-decoration: none;
  padding: 3px 10px 3px 5px;
  background: #fff;
  font-weight: bold;
}
.sub_menu div {
  color: #fff;
  padding: 5px 10px 5px 5px;
  background: #2b5573;
  border-bottom: 4px solid #F29400;
  border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
}
/*
.sub_menu div:hover {
  background: #799BB3;
}
*/
.sub_menu div a {
  color: inherit;
  display: block;
  text-decoration: none;
}
.sub_menu div a:hover {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
.license {
  font-size: 8pt;
}
.side_bar {
  float: left;
  height: 100%;
}
.content, .content-wide {
  /*width: 776px;*/
  min-height: 540px;
  line-height: 15pt;
  margin: 45px 0 0 219px;
  padding: 0 10px 0 0;
}
.content:after, .content-wide:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.footer {
  /*width: 716px;*/
  font-size: 8pt;
  margin: 15px 0 0 219px;
  padding: 0 0 10px 0;
}
a {
  color: #f29400;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.structure {
  color: #6060D4;
}
hr {
  border: 0;
  border-bottom: 2px solid #F29400;
}
.lecture-header {
  text-align: center;
}
.lecture-header > * {
  margin: 0.66em 0;
}
h1, h2, h3, h4, h5 {
  color: #2b5573;
  margin: 0.5em 0 0.25em;
}
h1 {
  font-size: 14pt;
}
h2 {
  font-size: 13pt;
}
h3 {
  font-size: 12pt;
}
h4 {
  font-size: 11pt;
}
h3.homenews {
  font-size: 12pt;
}
h4.homenews {
  font-size: 9pt;
  margin-top: 0.5em;
  margin-right: 0px;
  margin-bottom: 0.25em;
}
a.homenews {
  font-size: 8pt;
}
div.news-container {
  float: right;
  width: 450px;
}
div.info {
  float: left;
  width: 250px;
}
.print {
  float: right;
  margin: 0 10px 0 0;
}
p {
  line-height: 15pt;
}
th {
  color: #2b5573;
  font-weight: normal;
  text-align: left;
  padding-left: 5px;
}
tr {
  line-height: 18pt;
}
table {
  border-collapse: collapse;
}
table.colors-w-heading,
table.colors-wo-heading {
  margin: 0.4ex 0 0.65ex;
}
table.colors-w-heading td,
table.colors-wo-heading td {
  padding-right: 8px;
}
table.colors-w-heading td[align="right"],
table.colors-wo-heading td[align="right"] {
  padding-right: 0px;
}
table.colors-w-heading tr:nth-child(2n),
table.colors-wo-heading tr:nth-child(2n+1),
.odd_tr {
  background: #eeeedd;
  background-color: rgba(200,200,145,0.3);
}
td.r {
  text-align: right;
}
td {
  padding-left: 5px;
}
.td_np {
  padding-left: 0px;
}
ul {
  list-style:  url(/images/bullet.gif) outside;
}
li {
  margin-left: -10px;
}
div.dt {
  text-align: left;
  padding-left: 5px;
  position: relative;
  left: 0px;
  clear: none;
  width: 160px;
  text-transform: lowercase
}
div.dd {
  float: right;
  text-align: right;
}
div.dl {
  width: 500px;
}
hr.separator {
  border: 0;
  border-bottom: 2px solid #F29400;
}
span.bold {
  font-weight: bold;
}
.menulecture {
  background: #eeeedd;
  margin: 5px;
}
.menulecture a {
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
}

.odd {
  margin-left: -5px;
  padding: 5px;
  background: #eeeedd;
  background-color: rgba(200,200,145,0.3);
}
.oddp {
  background: #eeeedd;
  background-color: rgba(200,200,145,0.3);
}
.even {
  margin-left: -5px;
  padding: 5px;
}

span.error input {
  background: #E6E6FF;
}

span.required, .error {
  font-weight: bold;
  color: #F00;
}

.inputbox {
  font-weight: bold;
  color: #666666;
  background: #FFFFFF;
  border: 1px solid;
  padding-left: 2px;
  width: 200px;
  margin-left: 2px;
}
.inputboxsmall {
  font-weight: bold;
  color: #666666;
  background: #FFFFFF;
  border: 1px solid;
  padding-left: 2px;
  width: 30px;
  margin-left: 2px;
}
.inputboxsmallrequired {
  font-weight: bold;
  color: #666666;
  background: #E6E6FF;
  border: 1px solid;
  padding-left: 2px;
  width: 30px;
  margin-left: 2px;
}
.textbox {
  color: #666666;
  background: #FFFFFF;
  border: 1px solid;
  padding-left: 2px;
  width: 200px;
  margin-left: 2px;
}
.disabledbox {
  font-weight: bold;
  color: #666666;
  background: #CCCCCC;
  border: 1px solid;
  padding-left: 2px;
  width: 200px;
  margin-left: 2px;
}
.disabledboxsmall {
  font-weight: bold;
  color: #666666;
  background: #CCCCCC;
  border: 1px solid;
  padding-left: 2px;
  width: 30px;
  margin-left: 2px;
}
.disabledtextbox {
  color: #666666;
  background: #CCCCCC;
  border: 1px solid;
  padding-left: 2px;
  width: 200px;
  margin-left: 2px;
}
td.form select {
  color: #666666;
  background: #FFFFFF;
  border: 1px solid;
  padding: 2px;
  margin-left: 2px;
}
.copyright {
  font-size: 8pt;
}

.copyright a {
  font-size: 8pt;
  color: #666;
  text-decoration: none;
}

.copyright a:hover {
  color: #f29400;
  text-decoration: underline;
}

.news-red, .news-blue {
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0px -9px 0.5em;
  margin-right: 5px;
  padding: 5px 15px 10px 15px;
  text-align: left;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  height: 14px;
  vertical-align: middle;
  white-space: nowrap;
}
.news-blue {
  background-color: #2b5573;
}
.news-red {
  background-color: #d91a1a;
}
.news-box {
  margin: 0px 15px 15px 15px;
}

.image a:link {
  color: #FFFFFF;
}

.image a:visited {
  color: #FFFFFF;
}

em {
  color: #2B5573;
  font-style: inherit;
  font-weight: inherit;
}

ul, ol, p {
  margin: 0;
}

.lightbox {
  left: -999em;
  position: absolute;
}
.lightbox:target {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}
.lightbox:target div {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  padding: 2em;
  border-radius: 15px;
}
.lightbox:target .close a {
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}
.close {
  text-indent: -999em;
}
.w60p {
  margin-left: -30%;
  width: 60%;
}
.w300 {
  margin-left: -150px;
  width: 300px;
}
.w480 {
  margin-left: -240px;
  width: 480px;
}
.w640 {
  margin-left: -320px;
  width: 640px;
}
.h60 {
  height: 60px;
  margin-top: -30px;
}
.h400 {
  height: 400px;
  margin-top: -200px;
}
.h386 {
  height: 386px;
  margin-top: -193px;
}
.scroll {
  overflow-y: scroll;
  padding: 0 1em;
}
.lightbox h3 {
  margin: 0.5em 0 1em;
}
table.horizontal th, table.horizontal td {
  padding: 0 1em;
}
table.booktabs {
  margin: 0.4ex 0 0.65ex;
}
table.booktabs tr:first-child  th,
  table.booktabs tr:first-child  td {
  border-top: #666 1px solid; /*0.08em*/
}
table.booktabs tr th,
  table.booktabs tr td {
  border-bottom: #CCC 1px solid; /*0.05em*/
}
table.booktabs tr:last-child th,
  table.booktabs tr:last-child td {
  border-bottom: #666 1px solid; /*0.08em*/
}
ol.alternating li,
ul.alternating li {
  margin-left: -5px;
  padding: 5px;
}
ol.alternating li:nth-child(2n+1),
ul.alternating li:nth-child(2n+1),
.odd_li {
  background: #eeeedd;
  background-color: rgba(200, 200, 145, 0.3);
}
s.hide {
  visibility: hidden;
}

.reflection {
  display: none;
}

/* styles for smb page */
#theses .tags a {
  color: inherit;
  opacity: 0.5;
}
#theses .thesis * {
  background: transparent !important;
  line-height: 15pt;
}
#theses .thesis td, .thesis th {
  padding: 0 1em 0 0 !important;
  vertical-align: top;
}
#theses {
  width: 100%;
}
#theses td {
  padding: 0 1em 0.5em;
}
#theses td h4 {
  margin-top: 0.75em;
}
#theses .abstract {
  display: block;
  /*height: auto;*/
  overflow: hidden;
  height: 5.5ex;
  /*-moz-transition-property: height;*/
  -moz-transition-duration: 0.4s;
  -moz-transition-delay: 0.2s;
}
#theses td:hover .abstract {
  height: auto;
  -moz-transition-property: height;
  -moz-transition-duration: 0.4s;
  -moz-transition-delay: 0.2s;
}

.search {
  box-shadow: 1px 1px 2px 0 #888888 inset;
  border-radius: 5px 5px 5px 5px;
  outline: 0pt none;
  width: 300px;
  background-repeat: no-repeat;
  padding: 3px 3px 3px 20px;
  background-position: 4px 4px;
  border: 0px solid rgba(200, 200, 145, 0.5);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAMAAADjyg5GAAAAUVBMVEX///82a5D+/v41ao83bJHT4+9Qkb78/f7J3eulxt01aY34+vxBga2ixNzW5fBypsrf6/Nrocc9eKFjncV/rs/e6vLo8PbF2unG2+rr8vfg7PStvQk/AAAAcUlEQVR4XnXJRw4CQRQD0bJ/p8nkdP+DQoPYwdtYVvFDHSSVTGemWYoUaaBjr8OS1y1F71w0NlzZxgKmpeJuDRm7jUe6rIBKTkG36LMpygTtEIPBD4V0LKG5gs96CUXaT0B/O/L1dreBk4Ivw+7EH8ZPWWwDGFpkb5cAAAAASUVORK5CYII=);
}

.alert {
  color: #d91a1a;
  font-weight: bold;
}

.kbcv-news-box {
  margin-left: -5px;
  padding: 5px;
  border-radius: 10px;
  background: #eeeedd;
  background-color: rgba(200,200,145,0.3);
}

.kbcv-news-span {
  color: red;
}

@media print {
  .side_bar, .main_menu, .subtitle, .search, .lang_sel {
    display: none;
  }
  .content, .content-wide {
    margin: 0;
  }
  body {
    font-family: "Latin Modern Roman", Arial, Helvetica, sans-serif;
    color: black;
  }
  .all {
    box-shadow: none;
    width: auto;
  }
  a {
    color: inherit;
  }
  .logo {
    display: list-item;
    list-style-image: url(/images/logonew.gif);
    list-style-position: inside;
    margin: 0 !important;
    padding: 0 !important;
    height: 50pt;
  }
  #theses .abstract {
    height: auto;
  }
  #theses td {
    page-break-inside: avoid;
  }
}

